{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}

{% load bootstrap5 %} <!-- Carrega o bootstrap no HTML -->
{% bootstrap_css %}  <!-- Disponibiliza as classes bootstrap no HTML-->
{% bootstrap_javascript %} <!-- Disponibiliza o JavaScript no HTML -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">&#x1F310; - Agenda de Eventos - &#x1F310;</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'evento_list' %}">Home <span class="sr-only">(Página Inicial)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sobre' %}"> Sobre </a>
      </li>

    </ul>
  </div>
</nav>
