{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}

{% load bootstrap5 %} <!-- Carrega o bootstrap no HTML -->
{% bootstrap_css %}  <!-- Disponibiliza as classes bootstrap no HTML-->
{% bootstrap_javascript %} <!-- Disponibiliza o JavaScript no HTML -->


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark color:#d6d5d5">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" id="ul-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'evento_list' %}">Home <span class="sr-only">(Página Inicial)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'evento_create' %}">Cadastrar Evento</a>
        </li>
      </ul>
    </div>
  </nav>

