{% extends 'lista/index_pro.html' %}

{% block title %} Agenda de Eventos {% endblock %}

{% block content %}
<header>
  <h1> Agenda de Eventos</h1>
</header>

<div class="container text-center">
  <div class="row">
  {% for evento in evento_list %}
      <div class="col-4">
        <div class="evento" id="01">
            {% if evento.mes|date:"F" == "January" %}
                <nav>Janeiro</nav>
                Total de eventos {{ evento.total }}
            {% elif evento.mes|date:"F" == "February" %}
                <nav>Fevereiro</nav>
                Total de eventos {{ evento.total }}
            {% elif evento.mes|date:"F" == "March" %}
                <nav>Março</nav>
                Total de eventos {{ evento.total }}
            {% elif evento.mes|date:"F" == "April" %}
                <nav>Abril</nav>
                Total de eventos {{ evento.total }}
            {% elif evento.mes|date:"F" == "May" %}
                <nav>Maio</nav>
                Total de eventos {{ evento.total }}
            {% elif evento.mes|date:"F" == "June" %}
                <nav>Junho</nav>
                Total de eventos {{ evento.total }}
            {% elif evento.mes|date:"F" == "July" %}
                <nav>Julho</nav>
                Total de eventos {{ evento.total }}
            {% elif evento.mes|date:"F" == "August" %}
                <nav>Agosto</nav>
                Total de eventos {{ evento.total }}
            {% elif evento.mes|date:"F" == "September" %}
                <nav>Setembro</nav>
                Total de eventos {{ evento.total }}
            {% elif evento.mes|date:"F" == "November" %}
                <nav>Novembro</nav>
                Total de eventos {{ evento.total }}
            {% elif evento.mes|date:"F" == "October"%}
             <nav>Outubro</nav>
                Total de eventos {{ evento.total }}
             {% elif evento.mes|date:"F" == "December"%}
             <nav>Dezembro</nav>
                Total de eventos {{ evento.total }}
            {% endif %}
        </div>
      </div>
{% endfor %}
{% endblock content %}
  </div>
</div>

