{% extends 'index.html' %}
{% block content %}

     <h1 id="pg-del">Deletar Aluno</h1>
    <p>Tem certeza que deseja deletar o Evento: "{{ evento.nome }}"?</p>
    <form method="post" class="d-flex justify-content-sm-center">
        {% csrf_token %}
        <a type="submit" class="d-flex btn btn-dark btn-sm btn-block botao justify-content-sm-center"> Deletar </a>

    </form>
<div class="d-flex justify-content-sm-center">
    <a href="{% url 'eventos_por_mes' %}" class=" btn btn-danger btn-sm mt-2 botao" > Cancelar </a>
</div>


{% endblock content %}