{% extends 'index.html' %}

{% block title %} Agenda de Eventos {% endblock %}

{% block content %}

<h1 class="mt-4 text-center"> Agenda de Eventos </h1>
<div class="container text-center" id="meses">
  <div class="row">
  {% for evento in eventos %}
      <div class="col-4 ">
        <div class="evento shadow">
            {% if evento.mes|date:"F" == "Janeiro" %}
            <nav> Janeiro </nav>
                <a href="{% url 'eventos_do_mes' ano=evento.mes.year mes=evento.mes.month %}">Total de eventos {{ evento.total }}</a>
            {% elif evento.mes|date:"F" == "Fevereiro" %}
            <nav>Fevereiro</nav>
                <a href="{% url 'eventos_do_mes' ano=evento.mes.year mes=evento.mes.month %}">Total de eventos {{ evento.total }}</a>
            {% elif evento.mes|date:"F" == "Março" %}
            <nav>Março</nav>
                <a href="{% url 'eventos_do_mes' ano=evento.mes.year mes=evento.mes.month %}">Total de eventos {{ evento.total }}</a>
            {% elif evento.mes|date:"F" == "Abril" %}
            <nav>Abril</nav>
                <a href="{% url 'eventos_do_mes' ano=evento.mes.year mes=evento.mes.month %}">Total de eventos {{ evento.total }}</a>
            {% elif evento.mes|date:"F" == "Maio" %}
            <nav>Maio</nav>
                <a href="{% url 'eventos_do_mes' ano=evento.mes.year mes=evento.mes.month %}">Total de eventos {{ evento.total }}</a>
            {% elif evento.mes|date:"F" == "Junho" %}
            <nav>Junho</nav>
                <a href="{% url 'eventos_do_mes' ano=evento.mes.year mes=evento.mes.month %}">Total de eventos {{ evento.total }}</a>
            {% elif evento.mes|date:"F" == "Julho" %}
            <nav>Julho</nav>
                <a href="{% url 'eventos_do_mes' ano=evento.mes.year mes=evento.mes.month %}">Total de eventos {{ evento.total }}</a>
            {% elif evento.mes|date:"F" == "Agosto" %}
            <nav>Agosto</nav>
                <a href="{% url 'eventos_do_mes' ano=evento.mes.year mes=evento.mes.month %}">Total de eventos {{ evento.total }}</a>
            {% elif evento.mes|date:"F" == "Setembro" %}
            <nav>Setembro</nav>
                <a href="{% url 'eventos_do_mes' ano=evento.mes.year mes=evento.mes.month %}">Total de eventos {{ evento.total }}</a>
            {% elif evento.mes|date:"F" == "Outubro"%}
             <nav>Outubro</nav>
                <a href="{% url 'eventos_do_mes' ano=evento.mes.year mes=evento.mes.month %}">Total de eventos {{ evento.total }}</a>
            {% elif evento.mes|date:"F" == "Novembro" %}
            <nav>Novembro</nav>
                <a href="{% url 'eventos_do_mes' ano=evento.mes.year mes=evento.mes.month %}">Total de eventos {{ evento.total }}</a>
            {% elif evento.mes|date:"F" == "Dezembro"%}
            <nav>Dezembro</nav>
             <a href="{% url 'eventos_do_mes' ano=evento.mes.year mes=evento.mes.month %}">Total de eventos {{ evento.total }}</a>
            {% endif %}
        </div>
      </div>
{% endfor %}
</div>
</div>

{% endblock content %}
  

