{% extends 'index.html' %}
{% block content %}

<h1 class="mt-4 text-center">Eventos em {{ mes }}/{{ ano }}</h1>

<table class="table table-striped text-center">
    <thead>
      <tr>        
        <th scope="col">Evento</th>
        <th scope="col">Data</th>
        <th scope="col">Local</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
        {% for evento in eventos %}
        <tr>
            <th scope="row">{{ evento.nome }}</th>
            <td>{{ evento.data|date:"d/m/Y" }}</td>
            <td>{{ evento.local }}</td>
            <td>
                <a href="{% url 'eventos_edicao' evento.pk %}" class="btn btn-outline-dark"> Alterar</a>
                <a href="{% url 'eventos_delete' evento.pk %}" class="btn btn-outline-danger">Deletar</a>
            </td>
<!--            <td><button type="submit" class="btn btn-dark">Alterar</button></td>-->
        </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}