{% extends 'lista/index_pro.html' %}

{% load static %}

{% block title %} &#x1F4F6; Sobre {% endblock %}

{% block content %}
    <p>
        Desenvolver um projeto web utilizando o framework
        Django,
        Objetivo:
        Tecnologias:
        Conceitos a serem abordados:
        Django: Framework Python para desenvolvimento web.1.
        Python: Linguagem de programação.2.
        HTML: Linguagem de marcação de hipertexto.3.
        CSS: Linguagem de estilo para definir a aparência das páginas web.4.
        Bootstrap: Framework CSS para design responsivo e desenvolvimento front-end.5.
        Banco de dados: SQLite (por padrão no Django)6.
        CRUD: Criação, Leitura, Atualização e Deleção de dados.1.
        Modelos: Representação das estruturas de dados do aplicativo.2.
        Views: Lógica de processamento das requisições HTTP.3.
        Templates: Criação das interfaces visuais das páginas.4.
        Context: Passagem de dados dos views para os templates.5.
        Sessões e cookies: Manutenção de estado entre as requisições.(Pesquisar)6.
        CBV (Class-Based Views): Utilização de classes para definir as views.7.
        Herança de templates: Reutilização de blocos de HTML em diferentes templates.(Pesquisar)8.
        URLs: Mapeamento de URLs para as views.9.
        Forms: Criação de formulários para entrada de dados.1
    </p>

{% endblock content %}